yourdomain.com, www.yourdomain.com {
  reverse_proxy nginx
  encode br
  tls email@yourdomain.com
  
  tls {
    dns cloudflare cloudflare_api_token
  }
}

cpanel.yourdomain.com {
  reverse_proxy portainer:9000
  tls email@yourdomain.com
  
  tls {
    dns cloudflare cloudflare_api_token
  }
}
